.container {
    padding: 2em;
    flex-wrap: wrap;
    width: 100% !important;
    height: fit-content;
    background: whitesmoke !important;
    min-height: 100vh;
    padding-top: 14vh;

    .secTitle h1 {
        font-size: 3em;
        color: #222;
        position: relative;
        width: fit-content;
        text-align: center;
        color: #222;
        margin-top: 20px;
    }

    .secTitle p {
        color: rgba(34, 34, 34, .7);
        max-width: 500px;
    }

    .containerUsers {
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        margin: 2em 2em 2em 0;
        flex-wrap: wrap;
        gap: 1%;

        tr {
            th {
                text-align: center !important;
            }
        }
    }
}

.modalContent {
    table.userTable {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ccc;

            img{
                position: relative;
                display: flex;
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    }
}