.container {
    padding: 2em;
    flex-wrap: wrap;
    width: 100% !important;
    height: fit-content;
    background: whitesmoke !important;
}

.secTitle h1 {
    font-size: 3em;
    color: #222;
    position: relative;
    width: fit-content;
    text-align: center;
    color: #222;
    margin-top: 80px;
}

.secTitle p {
    color: rgba(34, 34, 34, .7);
    max-width: 500px;
}

.containerItems {
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 2em 2em 2em 0;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: space-between;
}

// Estilo base para o seletor
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    cursor: pointer;

    &:hover {
        background-color: #f5f5f5;
    }
}

// Estilize as opções do seletor
select option {
    padding: 8px;
    font-size: 16px;
}

// Estilo para a opção selecionada
select option:checked {
    background-color: #007bff; // Cor quando selecionado (azul)
    color: #fff; // Cor do texto quando selecionado (branco)
}

@media (max-width: 768px) {
    .containerItems{
        flex-direction: column !important;
    }
}